@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --max-element-width: 800px;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 66%;

    --card: 0 0% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 218, 14%, 89%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 218, 14%, 89%;

    --muted: 223, 15%, 18%;
    --muted-foreground: 218, 14%, 89%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 187 15% 28%;
    --input: 187 15% 28%; 
    --ring: 187 15% 28%; ;

  }

  /*new dark mode */

  .night {
    --background: 218, 14%, 11%;
    --foreground: 218, 14%, 89%;
    --card: 223, 15%, 18%;
    --card-foreground: 218, 14%, 89%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 218, 14%, 89%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 223, 15%, 18%;
    --accent-foreground: 218, 14%, 89%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 218, 14%, 89%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  .day {
    --background: 30, 14%, 89%;
    --foreground: 30, 14%, 11%;

    --card: 30, 17%, 98%;
    --card-foreground: 30, 14%, 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    /* --border: 30, 14%, 11%;; */
    --border: 187 15% 61%;
    --input: 187 15% 28%;   /*input border color*/
    --ring: 30, 14%, 11%;

    --input: 30 14% 65%;   /*input border color*/

    --radius: 0.5rem;
  }

  .ocb {
    /* Base text size */
    font-size: calc(1rem * var(--content-text-size, 100) / 100);
    font-family: var(--content-font-family);
  }

  .ocb.art {
    max-width: var(--max-element-width);
  }

  /* Style class for text sm */
  .ocb .text-xs {
    font-size: 0.75em;
    line-height: 1em;
  }
  .ocb .text-sm {
    font-size: 0.875em;
    line-height: 1.25em;
  }
  .ocb .text-base {
    font-size: 1em;
    line-height: 1.5em;
  }
  .ocb .text-lg {
    font-size: 1.125em;
    line-height: 1.75em;
  }
  .ocb .text-xl {
    font-size: 1.25em;
    line-height: 1.75em;
  }
  .ocb .text-2xl {
    font-size: 1.5em;
    line-height: 2em;
  }

  /* Global */
  .high-contrast {
    --border: var(--foreground);
    --muted-foreground: var(--foreground);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
